{% extends 'base.html.twig' %}

{% block title %}SymPrompt - Mes prompts{% endblock %}

{% block body %}
<div class="container mt-4">
    {% if not prompts is same as ([]) %}
        <h1>Mes prompts</h1>
        <div class="count mt-4">
            <h4>Il y a {{ prompts.getTotalItemCount }} prompts au total.</h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Content</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for prompt in prompts %}
                <tr class="table-primary">
                    <th scope="row">{{prompt.id}}</th>
                    <td>{{prompt.content}}</td>
                    <td>{{prompt.description}}</td>
                    <td>{{prompt.createdAt | date('d/m/Y')}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(prompts) }}
        </div>
    {% else %}
        <h4>Il n'y a pas de prompts</h4>
    {% endif %}
</div>

{% endblock %}