{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Bienvenue sur SymPrompt !</h1>
                <p class="lead">SymPrompt est une application qui va te permettre de créer des prompts pour ChatGpt que tu auras
                    toi-même créer.
                    Tu pourras partager des prompts à la communité du site, ou bien les garder en privé.
                </p>
                <hr class="my-4">
                <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}